<strong>Olá, {{ deliverer }}</strong>
<p>Uma entrega atribuída a você foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong>{{ recipient }}<br />
  <strong>Produto: </strong>{{ product }}<br />
  <br />
  <small>
    Verifique suas próximas entregas, em breve um novo pedido será atribuído a você
  </small>
</p>
